.services__row {
    margin: 72px -30px 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.service {
    width: 450px;
    background: $white;
    border-radius: 30px;
    margin: 0 15px 62px;
    padding: 42px 29px 30px;
    position: relative;

    .img {
        width: 64px;
        height: 64px;
        background: #0088CC;
        border-radius: 20px;
        position: absolute;
        top: -32px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__description {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;

        h3 {
            font-family: "Jura", sans-serif;
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            line-height: 21px;
            color: $dark-grey;
            margin-bottom: 15px;
            min-height: 42px;
        }

        .price {
            margin: 16px 0 20px;
            color: #0088CC;
        }

        .btn {
            margin: 0 auto;
        }
    }

    &:hover,
    &:active,
    &:focus {
        box-shadow: 0px 6px 24px rgba(255, 255, 255, 0.3);
    }
}


@media (max-width: 1500px) {
    .services__row {
        .service {
            width: 423px;
        }
    }
}

@media (max-width: 1370px) {
    .services-slider {
        width: 100%;
        margin-top: 62px;

        .service {
            width: 450px;
            height: auto;
            margin: 0 0 20px;
        }
    }
    .services__row{
        margin: 0 -15px 0 0;
        justify-content: flex-start;
        display: grid;
        grid-template-columns: repeat(5,1fr);
        gap: 0 30px;
    }
}

@media (max-width: 950px) {
    .services__row {
        gap: 0 15px;
    }
    .services-slider {
        margin-top: 20px;

        .service {
            width: 354px;
            padding: 35px 45px;
            margin-bottom: 10px;
        }
    }

    .service__description {
        .btn {
            min-width: 190px;
        }

        h3 {
            font-size: 14px;
            line-height: 17px;

            br {
                display: none;
            }
        }
    }
}

@media (max-width: 650px) {
    .services-slider {
        .service {
            width: 275px;
            padding: 35px 15px;
        }

        .service__description {
            h3 {
                margin-bottom: 0;
            }
        }
    }
}