.about {
    background: $bg-dark;
}

.about__row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    align-items: center;
}

.about__description {
    margin-top: 50px;

    .about__info {
        margin-top: 40px;

        p {
            color: $white-dark;
            margin: 20px 0;
            line-height: 26px;
        }

        .btn {
            margin: 20px 0 0;
        }
    }
}

.about-more {
    display: grid;
    grid-template-columns: 330px 330px;
    gap: 0 30px;
    align-items: center;
}

.about-more__item {
    background: $blue;
    border-radius: 20px;
    padding: 25px;
    height: 209px;

    &:nth-child(odd) {
        background: $blue;
    }

    &:nth-child(even) {
        background: $yellow;
    }

    &:nth-child(4n + 3) {
        background: $red;
    }

    &:nth-child(4n) {
        background: $green;
    }
    &:hover:nth-child(odd) {
        box-shadow: 0px 6px 24px rgba(0, 136, 204, 0.5);
    }

    &:hover:nth-child(even) {
        box-shadow: 0px 6px 24px rgba(232, 192, 70, 0.5);
    }

    &:hover:nth-child(4n + 3) {
        box-shadow: 0px 6px 24px rgba(217, 57, 85, 0.5);
    }

    &:hover:nth-child(4n) {
        box-shadow: 0px 6px 24px rgba(39, 174, 96, 0.5);
    }

    &:nth-child(2) {
        margin-top: 40px;
    }

    &:nth-child(odd) {
        margin-top: -10px;
    }

    &:first-child {
        margin-top: 0;
    }

    &:nth-child(even) {
        margin-top: 40px;
    }

    .img {
        margin-bottom: 20px;
        max-width: 50px;
        max-height: 50px;
        display: flex;
        align-items: center;
    }

    h3 {
        margin-bottom: 15px;
        line-height: 26px;
    }

    p {
        font-size: 14px;
        line-height: 24px;
        margin-top: 15px;
    }
}


@media (max-width: 1370px) {
    .about__row {
        display: flex;
        flex-direction: column-reverse;
        gap: 0;
        margin-top: 30px;
    }

    .about__description {
        margin-top: 15px;

        .section-title {
            display: none;
        }

        .about__info {
            margin-top: 0;

            p {
                margin-top: 0;
            }

        }
    }
    .about-more {
        grid-template-columns: repeat(4, 1fr);
    }
    .about-slider {
        width: 100%;

        .about-more__item {
            margin-top: 0 !important;
            width: 330px;
            margin-bottom: 20px;
        }
    }
}

@media (max-width: 950px) {
    .about-more {
        gap: 0 15px;
        padding: 15px 0;
    }
    .about__row{
        margin-top: 0;
    }
    .about-slider {
        .about-more__item {
            width: 275px;
            padding: 20px;
            height: auto;
            margin-bottom: 10px;

            .img {
                width: 25px;
                margin-bottom: 10px;
            }

            h3 {
                font-weight: 500;
                font-size: 14px;
                line-height: 26px;
                margin-bottom: 5px;
            }

            p {
                margin-top: 5px;
                line-height: 20px;

                br {
                    display: none;
                }
            }
        }
    }

    .about__description {
        .about__info {
            p {
                font-size: 14px;
                line-height: 24px;
            }
            .btn{
                margin-top: 0;
            }
        }
    }
}